<div class="tab-slider-product section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<div class="section-header text-center">
					<h2 class="h2">Chúng tôi có những sản phẩm tốt nhất cho bạn</h2>
					<p>Miễn phí vận chuyển nội thành với đơn hàng từ 10000$</p>
				</div>
				<div class="tabs-listing">
					<ul class="tabs clearfix">
						<li class="active" rel="tab1">Đang giảm giá</li>
						<li rel="tab2">Bán chạy</li>
						<li rel="tab3">Đáng thử</li>
					</ul>
					<div class="tab_container">
						<div id="tab1" class="tab_content grid-products">
							<div class="productSlider">
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image1.jpg"
											src="/assets/images/cosmetic-product/product-image1.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image1-1.jpg"
											src="/assets/images/cosmetic-product/product-image1-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
											<!-- product label -->
											<div class="product-labels rectangular">
												<span class="lbl on-sale">-16%</span> <span
													class="lbl pr-label1">new</span>
											</div> <!-- End product label -->
										</a>
										<!-- end product image -->

										<!-- countdown start -->
										<div class="saleTime desktop" data-countdown="2022/03/01"></div>
										<!-- countdown end -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Thêm vào giỏ hàng</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->
									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Edna Dress</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="old-price">$500.00</span> <span class="price">$600.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image2.jpg"
											src="/assets/images/cosmetic-product/product-image2.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image2-1.jpg"
											src="/assets/images/cosmetic-product/product-image2-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Select Options</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Elastic Waist Dress</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$748.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image3.jpg"
											src="/assets/images/cosmetic-product/product-image3.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image3-1.jpg"
											src="/assets/images/cosmetic-product/product-image3-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
											<!-- product label -->
											<div class="product-labels rectangular">
												<span class="lbl pr-label2">Hot</span>
											</div> <!-- End product label -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">3/4 Sleeve Kimono Dress</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$550.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image4.jpg"
											src="/assets/images/cosmetic-product/product-image4.jpg"
											alt="image" title="product" /> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image4-1.jpg"
											src="/assets/images/cosmetic-product/product-image4-1.jpg"
											alt="image" title="product" /> <!-- End hover image --> <!-- product label -->
											<div class="product-labels">
												<span class="lbl on-sale">Sale</span>
											</div> <!-- End product label -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Cape Dress</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="old-price">$900.00</span> <span class="price">$788.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image5.jpg"
											src="/assets/images/cosmetic-product/product-image5.jpg"
											alt="image" title="product" /> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image5-1.jpg"
											src="/assets/images/cosmetic-product/product-image5-1.jpg"
											alt="image" title="product" /> <!-- End hover image --> <!-- product label -->
											<div class="product-labels">
												<span class="lbl on-sale">Sale</span>
											</div> <!-- End product label -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Select Options</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Paper Dress</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$550.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
							</div>
						</div>
						<div id="tab2" class="tab_content grid-products">
							<div class="productSlider">
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image6.jpg"
											src="/assets/images/cosmetic-product/product-image6.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image6-1.jpg"
											src="/assets/images/cosmetic-product/product-image6-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
											<!-- product label -->
											<div class="product-labels rectangular">
												<span class="lbl on-sale">-16%</span> <span
													class="lbl pr-label1">new</span>
											</div> <!-- End product label -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Zipper Jacket</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$788.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image7.jpg"
											src="/assets/images/cosmetic-product/product-image7.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image7-1.jpg"
											src="/assets/images/cosmetic-product/product-image7-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Select Options</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Zipper Jacket</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$748.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image8.jpg"
											src="/assets/images/cosmetic-product/product-image8.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image8-1.jpg"
											src="/assets/images/cosmetic-product/product-image8-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>

									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Workers Shirt Jacket</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$238.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image9.jpg"
											src="/assets/images/cosmetic-product/product-image9.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image9-1.jpg"
											src="/assets/images/cosmetic-product/product-image9-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Watercolor Sport Jacket in Brown/Blue</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$348.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image10.jpg"
											src="/assets/images/cosmetic-product/product-image10.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image10-1.jpg"
											src="/assets/images/cosmetic-product/product-image10-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Washed Wool Blazer</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$1,078.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
							</div>
						</div>
						<div id="tab3" class="tab_content grid-products">
							<div class="productSlider">
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image11.jpg"
											src="/assets/images/cosmetic-product/product-image11.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image11-1.jpg"
											src="/assets/images/cosmetic-product/product-image11-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Azur Bracelet in Blue Azurite</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$168.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image12.jpg"
											src="/assets/images/cosmetic-product/product-image12.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image12-1.jpg"
											src="/assets/images/cosmetic-product/product-image12-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Select Options</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Bi-Goutte Earrings</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$58.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image13.jpg"
											src="/assets/images/cosmetic-product/product-image13.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image13-1.jpg"
											src="/assets/images/cosmetic-product/product-image13-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>

									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Ashton Necklace</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$228.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image14.jpg"
											src="/assets/images/cosmetic-product/product-image14.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image14-1.jpg"
											src="/assets/images/cosmetic-product/product-image14-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Ara Ring</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$198.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
								<div class="col-12 item">
									<!-- start product image -->
									<div class="product-image">
										<!-- start product image -->
										<a href="#"> <!-- image --> <img
											class="primary blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image15.jpg"
											src="/assets/images/cosmetic-product/product-image15.jpg"
											alt="image" title="product"> <!-- End image --> <!-- Hover image -->
											<img class="hover blur-up lazyload"
											data-src="/assets/images/cosmetic-product/product-image15-1.jpg"
											src="/assets/images/cosmetic-product/product-image15-1.jpg"
											alt="image" title="product"> <!-- End hover image -->
										</a>
										<!-- end product image -->

										<!-- Start product button -->
										<form class="variants add" action="#"
											onclick="window.location.href='cart.html'" method="post">
											<button class="btn btn-addto-cart" type="button"
												tabindex="0">Add To Cart</button>
										</form>
										<div class="button-set">
											<a href="javascript:void(0)" title="Quick View"
												class="quick-view-popup quick-view" data-toggle="modal"
												data-target="#content_quickview"> <i
												class="icon anm anm-search-plus-r"></i>
											</a>
											<div class="wishlist-btn">
												<a class="wishlist add-to-wishlist" href="wishlist.html">
													<i class="icon anm anm-heart-l"></i>
												</a>
											</div>
											<div class="compare-btn">
												<a class="compare add-to-compare" href="compare.html"
													title="Add to Compare"> <i
													class="icon anm anm-random-r"></i>
												</a>
											</div>
										</div>
										<!-- end product button -->
									</div>
									<!-- end product image -->

									<!--start product details -->
									<div class="product-details text-center">
										<!-- product name -->
										<div class="product-name">
											<a href="#">Ara Ring</a>
										</div>
										<!-- End product name -->
										<!-- product price -->
										<div class="product-price">
											<span class="price">$198.00</span>
										</div>
										<!-- End product price -->
									</div>
									<!-- End product details -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
	                        <ul class="customer-links list-inline">
	                        	<th:block th:if="${#request.remoteUser}">
	                        	<li><a href="#">Welcome [[${#request.remoteUser}]]</a></li>
	                        	<li><a href="/security/logout">Logout</a></li>
	                        	<li><a href="/order/list">Your Order</a></li>
	                            <li><a href="#">Sản phẩm yêu thích</a></li>
	                        </th:block>
	                        <th:block th:unless="${#request.remoteUser}">
	                            <li><a href="/security/login/form">Login</a></li>
	                            <li><a href="/register">Tạo tài khoản</a></li>
	                        </th:block>
	                        	<li th:if="${#request.isUserInRole('director')} OR ${#request.isUserInRole('staff')}"><a href="/admin/index">Admin Tool</a></li>
	                        </ul>
                         -->
						 <li th:if="${#request.isUserInRole('director')} OR ${#request.isUserInRole('staff')}"><a href="/admin/index">Admin Tool</a></li>

						 

						 <form th:object="${account}" name="frmregister" method="post" action="/register"
							id="CustomerLoginForm" accept-charset="UTF-8"
							class="contact-form">
							<div class="row">
								<div th:if="${error}" class="alert alert-danger alert-dismissible fade show"
									role="alert">
									<strong>[[${error}]] </strong> 
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="FirstName">Username</label> <input th:field="*{username}" type="text"
											ng-model="username" name="username" required placeholder=""
											id="FirstName" autofocus="">
										<div ng-show="frmregister.username.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập username</div>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="FirstName">Họ và tên</label> <input th:field="*{fullname}" type="text"
											ng-model="fullname" name="fullname" required placeholder=""
											id="FirstName" autofocus="">
										<div ng-show="frmregister.fullname.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập họ và tên</div>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="CustomerEmail">Email</label> <input th:field="*{email}" type="email"
											ng-model="email" name="email" required placeholder=""
											id="CustomerEmail" class="" autocorrect="off"
											autocapitalize="off" autofocus="">
										<div ng-show="frmregister.email.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập email</div>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="CustomerPassword">Mật khẩu</label> <input th:field="*{password}"
											type="password" ng-model="password" value="" required
											name="password" placeholder="" id="CustomerPassword" class="">
										<div ng-show="frmregister.password.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập mật khẩu</div>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<label for="CustomerPassword">Xác nhận mật khẩu</label> <input
											type="password" ng-model="password1" value=""
											name="password1" required placeholder=""
											id="CustomerPassword" class="">
										<div ng-show="frmregister.password1.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập xác nhận
											mật khẩu</div>
										<div ng-show="password != password1"
											class="badge badge-danger m-2">Xác nhận mật khẩu không
											đúng</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
									<button ng-disabled="frmregister.$invalid" type="submit"
										class="btn mb-3">Tạo tài khoản</button>
								</div>
							</div>
						</form>

				

				